
#BotaoConhecaTime{
    background-color:#F78065; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size:12pt;  
    color:black; 
    margin: 50px 0px 0px 20px;  
    padding: none;
    float:left; 
    min-width:min-content;
} 



#CardQuemSomosEquipe{ 
    width: 15vw; 
    height: 40vh; 
    margin:0px 1px 0px 5px; 
    background-color:#f8e2de;
   } 

#ModalQuemSomos{ 
  width: '18rem'; 
  height:'25rem';
  background-color:#FFF; 
  margin: 10px 0px;
} 

#BotaoEntreContato{ 
    width:75%; 
    height:10%; 
    background-color:#079F32; 
    border-radius:1%; 

    
} 

#FotoUsuario{ 
    width:60%; 
    margin-left:20%;
}