.toolbar{
    paddingRight: 24;
   
    background-color: #FC5B96;  
    height:10vh;
    
} 
.title{
    flexGrow: 1;  
    color:black;
    font-family:Montserrat; 
    font-size:16pt; 
    text-align:center; 

    
  }