#Menu{ 
    background-color:#FE81AF; 
    height:5%; 


} 

.BotaoMenu{ 
    background-color:#F78065;  
    display:inline-flex; 
     margin:0% 1% 0% 5%;  
    width:10vw; 
    height:4vh; 
    border-radius:40px; 
     

  
} 

.BotaoMenuText{ 
    color:black; 
    font-family:Montserrat; 
    font-size:12pt; 
    text-align:center; 
    text-decoration:none; 
    margin:10px 40px; 
    
}