*{ 
    font-family:Montserrat; 
    color:black;
}
#BotaoCadastro{ 
    width:100px; 
    height:100px; 
    border-radius:60px; 
    background-color:#079F32; 
    border:none;  
    color:black; 
    position:fixed; 
    float:right; 
    margin:3% 2% 0% 80%; 
 
}  

#BotaoCadastroTexto{ 
    color:black; 
    font-family:Montserrat; 
    position:absolute; 
    text-align:center; 
    margin-top:40px; 
    margin-left:8px;
}
#ModalCadastro{
    background-color:#FFF; 
    width:700px; 
    height:500px; 
    border-radius:40px; 
    margin-left:35%; 
    margin-top:10%;
} 

#CadastroTitulo{ 
    font-family:Montserrat; 
    font-size:16pt; 
    color:black;
    text-align:center; 
    border-radius:35px; 
 
   
} 

#TituloModal{  
    font-family:Montserrat; 
    font-size:16pt;
    background-color:#F78065; 
    height:10%; 
    width:90%; 
    margin:1% 10%; 
    border-radius:30px;
}

#standard-basic{ 
    width:60%; 
    margin:15px; 
    display:block;
}  

#cadastrar{ 
    width:150%;  
    height:20%; 
    border-radius:40px; 
    border-style:none; 
    margin-top:10px;
    background-color:#079F32; 

} 

#BotaoConcluirTexto{ 
    text-align:center; 
    color:black;  
    font-size:16pt; 
    font-family:Montserrat;  
    margin: 2% 40%;
}