
header{ 
    background-color: #FC5B96;  
    height:20%;  
    width:100%; 
    margin:0%; 
 
    
} 

h1{ 
    color:black; 
    font-size:28pt; 
    font-family:Montserrat;  
    text-align:center; 
    clear:both;
}
.container{ 
    height:100%; 
    width:100%; 
} 

.propostas{ 
    margin:10% 0% 1% 0%; 
    position:relative; 
    display:inline-flex;
}  



.rodape{ 
    position: absolute;
    width: 100vw;
    height:20vh;
    left: 0px;
    top: 100vh;

    background: #FC5B96;
}
#page-home{ 
    max-width:100vw;   
    min-width:20vw; 
    max-height:100vh; 
    min-height:20vh;
   
} 

#TextoEmpresas{ 
    float:left; 
    clear:both;
} 




#CardPropostas{ 
    width:250px; 
    border:0.4px solid black; 
    margin:auto 10% auto 10%;
} 


#Logo{ 
    width:80px; 
    border-radius:40px;  
    display:flex; 
    float:left;

}



div#LogoEmpresas {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div#LogoEmpresas:hover {
    border: 1px solid #777;
  }
  
  div#LogoEmpresas img {
    width: 100%;
    height: auto; 
    display:inline-flex;
  }