
header{ 
    background-color: #FC5B96;  
    height:10vh;  
    width:100%;
    
} 

img{ 
    width:30px;
}  


.container{ 
    height:100%; 
    width:100%; 
} 

.propostas{ 
    margin:15% 0% 1% 0%; 
    position:relative; 
    display:inline-flex;
}  

.vantagens{ 
    margin-bottom:30%;
}

.rodape{ 
    position: absolute;
    width: 100vw;
    height:25vh;
    left: 0px;
    top: 180vh;

    background: #FC5B96;
}
#page-home{ 
    max-width:100vw;   
    min-width:20vw; 
    max-height:100vh; 
    min-height:20vh;
   
} 

#TextoEmpresas{ 
    float:left; 
    clear:both;
} 




#CardPropostas{ 
    width:250px; 
    border:0.4px solid black; 
    margin:auto 10% auto 10%;
} 


div#LogoEmpresas {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div#LogoEmpresas:hover {
    border: 1px solid #777;
  }
  
  div#LogoEmpresas img {
    width: 100%;
    height: auto; 
    display:inline-flex;
  }