form{ 
    background-color:#FFF; 
    width: 15vw;  
    height:10vh;
    margin:5px;
    border-radius:20px; 
    
}   


FormControl{ 
    display:inline-flex;
} 

#component-simple{ 
    width:60%; 
    height:5%; 
    margin:0.1%;
} 

#BotaoEntrar{ 
    margin:0.8%; 
    background-color:#25b825;  
    width:10%; 
    height:5%;

}

Button{ 
    display:inline-flex;
}
#avatar{ 
    margin:0% 0% 0% 0.5%; 
    padding:0px;
} 
#widget{
    margin-left:90%; 
    background-color:#FFF; 
    width:8%; 
    border-radius:35px; 
   
    position:absolute;
  
    
}  


#TextButton{ 
    font-size:10pt; 
    color:black; 
    padding:0%; 
    margin-left:20%;
} 

